  
.analysis {
  display: flex;
  flex: 1;
}
  
.article {
  flex: 1;
  max-width: 65ch;
}
  
.menu {
  width: 25%;
  margin-left: 20px;
}

.article li {
  font-size: 1.4rem;
}

.analysis img {
  display: block;
  margin: auto;
  margin-bottom: 10vh;
}

  
@media (max-width: 700px) {
  .analysis {
    display: block;
    max-width: 90%;
    margin: auto;
  };
    
  .analysis .menu {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }

  .analysis .menu h2 {
    display: none;
  }

  .analysis .menu p a {
    padding: 0 10px;
  }
    
    

}
