.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: antiquewhite;
    align-items: center;
    padding: 2rem;

    .social { 
        a {
        text-decoration: none;
        font-size: 3rem;
        color: white;
        }
    }
}



