$font-color: #FFFFFF;
$font-alternative-color: #fff;
$accent-color: #5FA8D3;
$background-color: #34699A;
$header-footer-background-color: #1C3F5A;
$background-alternative-color: #1C3F5A;
$darkmode-font: #E0E0E0;
$darkmode-header: #2E2E2E;
$darkmode-footer: #1C1C1C;
$darkmode-main: #383838;
$darkmode-links: #E0E0E0;