$font-color: #fff;
$font-alternative-color: #fff;
$accent-color: #5fa8d3;
$background-color: #34699a;
$header-footer-background-color: #1c3f5a;
$background-alternative-color: #1c3f5a;
$darkmode-font: #e0e0e0;
$darkmode-header: #2e2e2e;
$darkmode-footer: #1c1c1c;
$darkmode-main: #383838;
$darkmode-links: #e0e0e0;
